
/* - - - - - - - GENERAL - - - - - - - - */

html {
  background-color: #f9f8f8; 
}

img {
  width:50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

/* - - - - - - - HEADER - - - - - - - - */

.header {
  margin: auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* - - - - - - - GAMEBOARD WRAPPER - - - - - - - - */

.gameboard_wrapper {
  display: flex;
  flex-direction: column;
  border: .5px solid black;
}

.scores {
  display: flex;
  justify-content: space-around;
}

/* - - - - - - - GAMEBOARD - - - - - - - - */

.board {
  /*margin-right: 1em;*/
  padding: 1em 1em 1em 1em;
}

.ai_board {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,25px);
}

.player_board {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,25px);
}


.cell {
  position: relative;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.square {
  position: relative;
  margin-left: 3px;
  background-color: grey;
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

.player_ship {
  background-color: black;
}

.ai_ship {
  background-color: white;
}

.hit {
  border: 1px solid blue;
  background-color: blue;
}

.player_ship.hit:after {
  position: absolute;
  background-color: black;
  content: '\d7';
  text-align: center;
  font-size: 20px;
  color: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ai_ship.hit:after {
  position: absolute;
  background-color: black;
  content: '\d7';
  text-align: center;
  font-size: 20px;
  color: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* - - - - - - - CONTROLS - - - - - - - - */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  border: 1px solid black;
}

.shipControl {
  display: flex;
  border: 1px solid black;
  width: 130px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

