html {
  background-color: #f9f8f8;
}

img {
  width:25%;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;

}

.board {
  margin-right: 1em;
}

.ai_board {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,25px);
}

.player_board {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,25px);
}


.cell {
  position: relative;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.ship {
  background-color: grey;
}

.hit {
  border: 1px solid blue;
  background-color: blue;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  border: 1px solid black;
}

.shipControl {
  display: flex;
  border: 1px solid black;
  width: 130px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.square {
  position: relative;
  margin-left: 3px;
  background-color: grey;
  border: 1px solid black;
  width: 10px;
  height: 10px;
}